/*
h1{
    align-items: center;
}
*/
h3,h4{
    background-color: gray;
    color: orange;
    border-color: teal;
   border-style: solid;
    
}
.Item{
   text-align: center;
}

#footer {
   
    bottom: 10px;
    background-color: #333333;
    height: 60px;
    text-align: right;
    width: 100%;
    z-index: 1;
    color: #ffffff;
 }


#menu-area{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#menu-area li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
#menu-area li a{
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    font-weight: 400;
    position: relative;
    transition: all .6s ease-in; 
}
#menu-area li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    background: #fff;
    left: 0;
    bottom: -15px;
    transition: 0.6s;
}
#menu-area li a::before{
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    background: #fff;
    right: 0;
    top: -15px;
    transition: 0.6s;
}
#menu-area li a:hover{
    text-shadow: 0 0 10px rgba(233,85,99,1),
	0 0 10px rgba(233,85,99,1);
}
#menu-area li a:hover:after{
    width: 100%;
    background: #fff;
	box-shadow: 0 0 10px deepskyblue,
	0 0 10px deepskyblue;
}
#menu-area li a:hover:before{
    width: 100%;
    background: #fff;
	box-shadow: 0 0 10px deepskyblue,
	0 0 10px deepskyblue;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(120deg, #cbe6d9,	#e1b2aa);
}
/* Navbar text HOVER effect   
#menu-area li a:hover{
           text-shadow: 0 0 10px rgb(233, 85, 99,1),
           0 0 10px rgb(233,85, 99,1);
}

#menu-area li a:hover::after{
    background: #fff;
	box-shadow: 0 0 10px deepskyblue,
	0 0 10px deepskyblue;
}

#menu-area li a:hover::before{
    background: #fff;
	box-shadow: 0 0 10px deepskyblue,
	0 0 10px deepskyblue;
}

*/
.wrapper{
    display: flex;
    height: 15vh;
  }
  .wrapper marquee{
    font-family: 'Bebas Neue', cursive;
    color:#ea0707;
    font-size:3px;
    text-transform:uppercase;
    font-weight: 400;
    text-shadow: 0 2px 2px rgba(0,0,0,.1);
    -webkit-mask-image: linear-gradient(-75deg, rgba(55, 7, 230, 0.2) 30%, #13ea13 50%, rgba(255,255,255,.2) 70%);
    -webkit-mask-size: 100%;
    animation: animate 2s;
  }
  @keyframes animate {
    from {
      -webkit-mask-position: 80%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }
